@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-ao├╗t-2016, 21:39:31
    Author     : queni
*/
/*$activeColor: rgba(255,255,255,1);*/
/*$wonColor: rgba(150,150,255,1);*/
/*.color-set-1, .color-set-1 * {*/
.color-set-1, html, .scores .scoreLabel.currentPlayer {
  color: white;
  background-color: black; }

/*.color-set-2, .color-set-2 * {*/
.color-set-2, .scores .scoreLabel, .well {
  background-color: white;
  color: black; }

.color-set-1-active, .btn-group .btn.active, .btn-group .btn.collapsable:not(.collapsed) {
  color: white;
  background-color: #696666; }
  .color-set-1-active:hover, .btn-group .btn.active:hover, .btn-group .btn.collapsable:hover:not(.collapsed) {
    color: black; }

html {
  /*box-sizing: border-box;*/
  box-sizing: content-box;
  /*  background-color: $backgroundColor;
    color: $mainColor;*/
  /*  background-image: url(http://www.publicdomainpictures.net/pictures/180000/velka/table-2.jpg);*/
  background-image: url(http://www.publicdomainpictures.net/pictures/10000/velka/1-12232382946oAf.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  /*  height:  100%;
    width:  100%;*/ }
  html * {
    color: inherit;
    background-color: transparent;
    font-family: verdana; }
  html button, html button *, html input {
    /*color:$backgroundColor;*/
    /*@extend .color-set-2;*/ }
  html input[type=number] {
    width: 50px; }
    html input[type=number].form-control {
      width: 70px;
      display: inline; }
      html input[type=number].form-control:focus {
        border-color: black;
        /*        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                  0 0 8px rgba(102,175,233,.6);*/
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 75, 100, 0.6); }

body {
  /*background-color: $backgroundColor;*/
  /*  background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg);*/ }

.jumbotron {
  /*background-image: $woodImage;*/
  background-color: transparent;
  margin-bottom: -35px; }
  .jumbotron h1 {
    /*display: inline;*/
    /*background-color: transparent;*/
    font-family: "Brush Script MT",cursive;
    font-size: 500%; }

.btn-group {
  /*background-color: $mainColor;*/
  background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg);
  background-size: cover; }
  .btn-group.main-btn-grp {
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.6); }
  .btn-group .btn {
    /*@extend .color-set-2;*/
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5); }
    .btn-group .btn:focus {
      color: unset; }
    .btn-group .btn:hover {
      color: black; }
  .btn-group .btn.active, .btn-group .btn.collapsable:not(.collapsed) {
    box-shadow: inset 0 0 8px 0px rgba(0, 0, 0, 0.6);
    /*border-color: black;*/
    /*border-color:rgba(0,0,0,.8);*/
    background-color: rgba(0, 0, 0, 0.3); }

label {
  font-weight: unset; }

.value {
  font-family: cursive;
  line-height: 1; }

.centerer {
  margin: 20px auto;
  text-align: center;
  /*box-shadow:  3px 3px 4px 4px black;*/
  /*margin: auto;*/ }
  .centerer .cropper {
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 2px 2px 10px 1px black; }
    .centerer .cropper .grid2layer {
      background-color: black;
      overflow: hidden;
      border: 15px solid black;
      padding: 2px;
      /*box-shadow: inset 0px 0px 5px 5px white;*/
      -webkit-border-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg) 50 round;
      -o-border-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg) 50 round;
      border-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg) 5% stretch; }
      .centerer .cropper .grid2layer .grid {
        margin: auto;
        /*margin-top: 40px;*/
        /*margin: 20px auto;*/
        display: table;
        /*background-color: red;//TODO delete*/
        color: white;
        /*border: 5px solid $mainColor;;*/
        border: 15px solid white;
        border-radius: 5px;
        -webkit-border-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg) 50 round;
        -o-border-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg) 50 round;
        border-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg) 5% stretch;
        background-color: #0f3927;
        /*box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,.4);*/
        box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.4), 0px 0px 5px 5px white;
        table-layout: fixed;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f3927+0,0f3927+0,1c6b4f+50,0f3927+100 */
        background: #0f3927;
        /* Old browsers */
        background: -moz-linear-gradient(top, #0f3927 0%, #0f3927 0%, #1c6b4f 50%, #0f3927 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #0f3927 0%, #0f3927 0%, #1c6b4f 50%, #0f3927 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #0f3927 0%, #0f3927 0%, #1c6b4f 50%, #0f3927 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f3927', endColorstr='#0f3927',GradientType=0 );
        /* IE6-9 */ }

.row {
  display: table-row;
  /*background-color: blue;//TODO delete*/ }
  .row:first-child * {
    border-top: none; }
  .row:last-child * {
    border-bottom: none; }

.cell {
  /*padding: 20px;*/
  /*padding: 10px;*/
  /*margin: 20px;*/
  width: 42px;
  height: 42px;
  min-width: 42px;
  min-height: 42px;
  text-align: center;
  vertical-align: middle;
  font-size: 200%;
  /*font-size: 50%;*/
  /*font-size: 400%;*/
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: table-cell;
  /*background-color: black;*/ }
  .cell:first-child {
    border-left: none; }
  .cell:last-child {
    border-right: none; }
  .cell .won {
    transition: color 1s;
    color: #0064ff; }
  .cell .hint {
    transition: color 1s;
    /*color:blue;*/
    /*color: rgba(0,0,0,0.2);*/
    color: rgba(255, 255, 255, 0.2); }

.scores {
  margin: 20px; }
  .scores .scoreLabel {
    vertical-align: middle;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg);
    background-size: cover;
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.6); }
    .scores .scoreLabel .score {
      /*width: 30%;*/
      /*  float: left;*/
      /*padding: 0px 20px;*/
      padding-left: 5px;
      font-size: 150%;
      vertical-align: middle; }
    .scores .scoreLabel .playerLabel {
      vertical-align: middle; }
    .scores .scoreLabel.currentPlayer {
      /*background-color: $currentPlayerColor;*/
      /*background-color: $wonColor;*/ }

.well {
  padding: 20px;
  display: inline-block;
  text-align: right;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/wood-texture-pattern.jpg);
  background-size: cover;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.6); }

/*#gameSettingsBtn {
  @extend .color-set-1;
}
#gameSettingsBtn.collapsed {
  @extend .color-set-2;
}*/

/*# sourceMappingURL=main.css.map */
